awesomeversion==24.6.0
beautifulsoup4==4.12.3
colorlog==6.8.2
GitPython==3.1.43
html5lib==1.1
nvchecker==2.15.1
pluginbase==1.0.1
PyGithub==2.4.0
python-frontmatter==1.1.0
PyYAML==6.0.2
requests==2.32.3
toml==0.10.2
tqdm==4.66.5
ruamel.yaml==0.18.10